header {
    background-color: white;
    height: 90px;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo {
    margin-left: 80px;
    height: 50px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 600px) {
    header {
        height: 70px;
        width: 100vw;
        box-sizing: border-box;
    }

}